<div class="bg-gray-800 shadow-md">
  <header
    class="container mx-auto max-w-7xl flex flex-wrap  items-center py-2 px-6 justify-between"
  >
    <div>
      <h1 class="text-white text-3xl">BetWithChim</h1>
    </div>
    <nav id="menu-items lg:flex  w-full md:w-auto">
      <ul class="text-lg text-white">
          <li class="block md:inline-block items-center px-4 hover:underline">
            <a href="/betwithchim" class="transition">Home</a>
          </li>
          <li class="block md:inline-block items-center px-4 hover:underline">
            <a href="/comingsoon" class="transition">Value Tips</a>
          </li>
          <li class="block md:inline-block items-center px-4 hover:underline">
            <a href="/betwithchim/betoftheday" class="transition">Bet of The Day</a>
          </li>
          <li class="block md:inline-block items-center px-4 hover:underline">
            <a href="#" class="transition">Contact us</a>
          </li>
      </ul>
    </nav>
      <div class="lg:flex lg:justify-between">
        <% if(!currentUser){%>
          <a href="/betwithchim/signup"><button
            class="border px-3 py-1 mx-2 rounded-md bg-blue-200 hover:bg-blue-400"
          >
            Sign Up
          </button></a>
          <a href="/betwithchim/login"><button
            class="border px-3 py-1 rounded-md bg-blue-200 hover:bg-blue-400"
          >
            Log In
          </button></a>
          <% } else{ %>
          
              <a href="/betwithchim/logout"><button
                class="border flex w-full px-3 py-1 rounded-md inline bg-blue-200 hover:bg-blue-400"
              >
              
              <span class="text-md">Logout</span>
              </button></a>
            
          
          <% } %>
      </div>
     
  </header>
</div>