<% layout('layouts/boilerplate') %>
<div class="container flex my-24 justify-center items-center mx-auto ">
    <div class="container bg-green-100 flex mx-auto text-2xl justify-center items-center border border-green-400 my-2 text-green-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold text-3xl px-3">COMING SOON!! </strong>
        
        
    </div>
</div>