<% layout('layouts/boilerplate') %>
<div class="container flex my-36 justify-center items-center mx-auto">
  <div class="w-full justify-center max-w-xs">
    <form
      action="/betwithchim/login"
      method="post"
      class="bg-white shadow-2xl rounded px-8 pt-4 pb-8 mb-4"
    >
      <p class="text-lg text-center font-bold py-3 px-2">
        Welcome To BetWithChim
      </p>
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="username"
          id="username"
        >
          Username/email
        </label>
        <input
          class="shadow appearance-none border-gray-400 border focus:border-blue-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="username"
          name="username"
          autocomplete="off"
          type="text"
          placeholder="Username"
          required
        />
      </div>

      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="password"
          id="password"
        >
          Password
        </label>
        <input
          class="shadow-lg appearance-none border border-gray-400 focus:border-blue-400 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
          id="password"
          type="password"
          name="password"
          autocomplete="off"
          placeholder="******************"
          required
        />
      </div>

      <div class="flex items-center justify-between">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-normal py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Log In
        </button>
        <a
          class="inline-block align-baseline font-bold text-sm text-blue-500 hover:underline hover:text-blue-800"
          href="#"
        >
          Forgot Password?
        </a>
      </div>
    </form>
    <p class="text-center text-gray-500 text-xs">
      &copy;2022 BetWithChim. All rights reserved.
    </p>
  </div>
</div>
